html, body {
    height: 100%;
}

body {
    background-image: url("../images/gravel.png");
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff; 
}

#container-width {
    max-width: 960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;    
}

section {
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    width: 15%;
    padding: 20px;
    float: left;
}

.button-container {
    float: right;
    padding-top: 20px;  
}

.button {
    border-right-color: #cccccc;
    border-left: none;
    border-top: none;
    border-bottom: none;
    color: #777777;
}

#third-button {
    border: none;
    color: #777777;
}

.main-content {
    text-align: left;
    background-color: #ffffff;
    max-width: 960px;
    min-width: 960px;
    padding: 20px;
    margin: 50px;
    margin-left: auto; 
    margin-right: auto;
    border: 5px;
    border-color: #dddddd;
    flex: 1 0 auto;
    
}

.form {
    color: #777777;
    text-align: left;
}

.input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message-input {
    text-align: left;
    height: 300px;
    resize: none;
}

input[type=submit] {
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    padding: 10px;
    width: 100px;  
}

.portrait {
    width: 180px;
    height: 275px;
    float: left;
    margin-right: 10px;
}

p {
    color: #777777; 
}


h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left; 
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;   
}

.project-box{
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    text-align: center;
    margin: 20px;
}

.project-photo {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    text-align: center;   
}

#project-label {
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    width: 160px;
    height: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

footer {
    text-align: center;
    font-size: small;
    color: #ffffff;
    padding-bottom: 0;
    background-color: #666666;
    padding-top: 40px;
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;  
}